@charset "utf-8";
body, div, h2, ul, li {
	margin:0;
	padding:0;
}
body {
	font:12px/1.5 Arail;
}
.box {
	width:500px;
	margin:10px auto;
	background:#eee;
	border:1px solid #b8b8b8;
	overflow:hidden
}

.box li {
	float:left;
	width:80px;
	height:40px;
	padding:6px;
	background:#fff;
	border:1px solid #c3c3c3;
	display:inline;
	margin:15px 0 0 15px;
	list-style:none;
}
.box li a {
	float:left;
	width:80px;
	height:40px;
}
.box li.hig {
	padding:5px;
	border:2px dashed #f30;
	opacity:0.5;
	filter:alpha(opacity=50);
}

