<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <!-- 定义别名 -->
    <typeAliases>
        <!-- <typeAlias alias="User" type="cn.springmvc.model.User" /> -->
        <!-- 使用批量扫描 -->
        <package name="com.example.hforum.model"/>
    </typeAliases>
    <plugins>
        <!-- mybatis分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
        </plugin>
      <!--  <plugin interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
            <property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect"/>
        </plugin>-->
    </plugins>

</configuration> 